@use "./../01-abstracts/" as *;

@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

body {
  font-family: "Karla", sans-serif;
  font-weight: normal;
  color: $gray;
  font-size: rem(14px);
  line-height: 26px;
}

h1,
h2,
h3 {
  font-size: rem(18px);
  font-weight: bold;
}

b {
  font-weight: bold;
}
