@use "./../01-abstracts/" as *;

.component {
  padding: 72px 32px 62px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__grid {
    display: grid;
    grid-template-rows: 267fr 228fr 227fr;
    grid-template-columns: 1fr;
    max-width: 635px;
    background: #ffffff;
    box-shadow: 0px 15px 30px rgba(0, 81, 171, 0.148847);
    border-radius: 5px;
    @include breakpoint($md) {
      grid-template-rows: 216fr 259fr;
      grid-template-columns: 1fr 1fr;
    }
  }

  &__card {
    padding: 24px;
    grid-column: 1;
    position: relative;
    @include breakpoint($md) {
      padding: 40px;
    }

    &-1 {
      padding-top: 28px;
      grid-row: 1 / 2;
      @include breakpoint($md) {
        padding-top: 40px;
        grid-column: 1/3;
      }
    }

    &-2 {
      background-color: $dark-green;
      grid-row: 2 / 4;
      color: white;
      font-size: rem(16px);
      @include breakpoint($md) {
        grid-row: 2 / 3;
        grid-column: 1/3;

        & .container {
          max-width: 237px;
        }
      }
    }

    &-3 {
      grid-row: 3 / 4;
      color: white;
      @include breakpoint($md) {
        grid-row: 2 / 3;
        grid-column: 2/3;
      }
    }
  }

  &__title {
    font-size: rem(20px);
    color: $dark-green;
    margin-bottom: 24px;
    line-height: 23px;
    letter-spacing: -0.25px;
  }

  &__highlight {
    color: $lime-green;
    margin-bottom: 16px;
    font-weight: bold;
    line-height: 20px;
    letter-spacing: -0.1875px;
    font-size: rem(15px);
  }

  &__description {
    letter-spacing: -0.175px;
  }

  &__subtitle {
    line-height: 21px;
    letter-spacing: -0.225px;
    margin-bottom: 18px;
  }

  &__price {
    font-size: rem(32px);
    line-height: 37px;
    letter-spacing: -0.4px;
    vertical-align: middle;
    margin-right: 11px;
    margin-bottom: 4px;
  }

  &__btn {
    margin-top: 26px;
    background-color: $lime-green;
    border: none;
    width: 100%;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.0973011);
    border-radius: 5px;
    color: white;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.2px;
    padding: 15px 15px 15px;
  }

  &__li {
    line-height: 20px;
    opacity: 0.75;
  }
}
